*.[oa]
*.swp
*.dblite
bin
*-workspace
*.exe
*.cc
*.os
*.so
*.la
*.depends

CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
*_autogen/
cmake.config

external

CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile.Doxygen

.asciidoctor
config.hpp
